<div *ngIf="products.length===0">No Products</div>
<div class="row" *ngIf="products.length!==0">
  <div class="col-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">Product List </div>
      <div class="card-body">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Make-date</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of products">
              <td><a [routerLink]="['/products/view',prod.id]">{{prod.name}}</a></td>
              <td>{{prod.price|currency:'INR'}}</td>
              <td>{{prod.make_date|date}}</td>
              <td><a [routerLink]="['/products/edit',prod.id]"><i class="fa fa-edit"></i></a></td>
              <td><a href="#" (click)="delete(prod.id,$event)"><i class="fa fa-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br/>
<hr/>
<router-outlet></router-outlet>