<div class="row">
  <div class="col-12 col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">Product List </div>
      <div class="card-body">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Make-date</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of products">
              <td>{{prod.name}}</td>
              <td>{{prod.price|currency:'INR'}}</td>
              <td>{{prod.make_date|date}}</td>
              <td><a><i class="fa fa-edit"></i></a></td>
              <td><a><i class="fa fa-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>